@import 'variables';

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $font-color1;

  h2 {
    text-align: center;
  }

  .dialog-content {
    margin-top: 32px;
  }
  .dialog-footer {
    margin-top: auto;
  }
}
